.contact-container{
    margin: 4rem 0;
    position: relative;
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.contact-container::after, 
.contact-container::before{
    content: " ";
    width: 26.135rem;
    height: 26.125rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.contact-container::after{
    top: -3rem;
    left: -5rem;
    
}

.contact-container::before{
    bottom: 2rem;
    right: 0rem;
}

.contact-content{
    display: flex;
    gap:3rem;
}

@media(max-width:768px)
{
    .contact-content{
        flex-direction: column-reverse;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .contact-content{
        gap: 1rem;
    }

   

}

@media (max-width: 425px) {
    .contact-container::after, 
    .contact-container::before {
        /* Adjust properties for mobile view */
        width: 15rem; /* Example adjustment */
        height: 15rem; /* Example adjustment */
        filter: blur(150px); /* Example adjustment */
    }

    .contact-container{
        margin-bottom: 1.3rem;
    }
}
